<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>Sapid a Restaurant | Home </title>
	  {% load static %}
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Sapid Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
      Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
      addEventListener("load", function () {
      	setTimeout(hideURLbar, 0);
      }, false);

      function hideURLbar() {
      	window.scrollTo(0, 1);
      }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="{% static 'webpage/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="{% static 'webpage/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="{% static 'webpage/css/style.css' %}" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Oswald:400,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  </head>
<body>
    <div class="main-top" id="home">
      <!-- header -->
      <div class="headder-top">
        <!-- nav -->
        <nav >
          <div id="logo">
            <h1><a href="index.html">Sapid</a></h1>
          </div>
          <label for="drop" class="toggle">Menu</label>
          <input type="checkbox" id="drop">
          <ul class="menu mt-2">
            <li class="active"><a href="/app1/home/">Home</a></li>
            <li class="mx-lg-3 mx-md-2 my-md-0 my-1"><a href="/app1/register/">Register</a></li>
            <li><a href="/app1/login/">Login</a></li>
			  <li><a href="/app1/admins/">Admin</a></li>
          </ul>
        </nav>
        <!-- //nav -->
      </div>
      <!-- //header -->
      <!-- banner -->
      <div class="main-banner">
        <div class="container-fluid">
          <div class="style-banner ">
            <h4>A Taste & Healthy</h4>
            <h4>Pasta on your Plate</h4>
            <div class="two-demo-button mt-md-4 mt-3">
              <p> Lorem ipsum dolor sit amet Lorem ipsum dolor sit ametLorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
            </div>
            <div class="social-icons mt-lg-4 mt-3">
              <ul>
                <li><a href="https://www.facebook.com/"><span class="fa fa-facebook mr-lg-3 mr-2"></span></a></li>
                <li><a href="https://twitter.com/login?lang=en-gb"><span class="fa fa-twitter mr-lg-3 mr-2"></span></a></li>
                <li><a href="https://dashboard.rss.com/auth/sign-in/"><span class="fa fa-rss mr-lg-3 mr-2"></span></a></li>
                <li><a href="https://www.sealedenvelope.com/help/access/access/"><span class="fa fa-envelope mr-lg-3 mr-2"></span></a></li>
                <li><a href="https://www.instagram.com/accounts/login/"><span class="fa fa-instagram mr-lg-3 mr-2"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //banner -->
    <!-- footer -->
    <footer class="py-lg-3 py-md-2 py-sm-3 py-2">
      <div class="container py-lg-4 py-md-4 py-sm-3 py-3">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 footer-bottom-txt">
            <h2><a href="index.html">Sapid</a></h2>
            <p class="pt-lg-4 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 footer-bottom-txt">
            <h4>Our Timings</h4>
            <div class="mt-3 footer-hours-list">
              <ul>
                <li class="d-flex">Monday-Friday<span class="time-footer ml-auto"> 9:30-18:30</span></li>
                <li class="d-flex">Saturday <span class="time-footer ml-auto">10:30-14:30</span></li>
                <li class="d-flex">Sunday   <span class="time-footer ml-auto">     closed</span></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 footer-bottom-txt">
            <h4>Our Address</h4>
            <div class="mt-3 footer-top">
              <p><span>Address</span> :Melbourne St,South <br>Birbane 4101 Austraila.</p>
              <p class="pt-2"> <span> Phone</span> :+(000) 123 4565 32</p>
              <p class="pt-2"><span>Email</span>   :<a href="mailto:info@example.com">info@example1.com</a>
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 footer-bottom-txt">
            <h4>Social Icons</h4>
            <div class="social-icons mt-3">
              <ul>
                <li><a href="https://www.facebook.com/"><span class="fa fa-facebook mr-lg-3 mr-2"></span></a></li>
                <li><a href="https://twitter.com/login?lang=en-gb"><span class="fa fa-twitter mr-lg-3 mr-2"></span></a></li>
                <li><a href="https://dashboard.rss.com/auth/sign-in/"><span class="fa fa-rss mr-lg-3 mr-2"></span></a></li>
                <li><a href="https://www.sealedenvelope.com/help/access/access/"><span class="fa fa-envelope mr-lg-3 mr-2"></span></a></li>
                <li><a href="https://www.instagram.com/accounts/login/"><span class="fa fa-instagram mr-lg-3 mr-2"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--//footer -->
  </body>
</html>